<?xml version="1.0" encoding="UTF-8"?>
<launch>
   
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_base_footprint" args="0 0 0 0 0 0 1 /red/base_link /base_footprint" />
    
    <include file="$(find depthimage_to_laserscan)/launch/laser_scan.launch"/>
    
    <include file="$(find quadcopter_navigation)/launch/mv_base.launch"/>

    <!--<include file="$(find explore_lite)/launch/explore.launch"/> -->
  
</launch>

